.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html, #root {
  height: 100%;
}

.AppInnerContainerHolder {
  position: relative;
}

.templated-distributions-container {
  display: flex;
  position: relative;
}

.templated-distributions-container .cartesian {
  flex: wrap;
  width: 45%;
  height: 505px;
  background: url('images/grid/grid_image-10.jpg') 0px 0px transparent repeat;
}

.templated-distributions-container .templated_inputs_row1 {
  flex: wrap;
  position: absolute;
  width: 45%;
  height: 80px;
  margin-top: 0px;
  margin-left: 50%;
}

.templated-distributions-container .templated_inputs_row2 {
  flex: wrap;
  position: absolute;
  width: 45%;
  height: 80px;
  margin-top: 85px;
  margin-left: 50%;
}

.templated-distributions-container .templated_outputs_row1 {
  flex: wrap;
  position: absolute;
  width: 45%;
  height: 80px;
  margin-top: 165px;
  margin-left: 50%;
}

.templated-distributions-container .templated_outputs_row2 {
  flex: wrap;
  position: absolute;
  width: 45%;
  height: 80px;
  margin-top: 250px;
  margin-left: 50%;
}

.templated-distributions-container .templated_addons_row1 {
  flex: wrap;
  position: absolute;
  width: 45%;
  height: 80px;
  margin-top: 335px;
  margin-left: 50%;
}

.templated-distributions-container .templated_addons_row2 {
  flex: wrap;
  position: absolute;
  width: 45%;
  height: 80px;
  margin-top: 420px;
  margin-left: 50%;
}

.cartesian .grid-box, .templated_inputs_row1 .grid-box, .templated_inputs_row2 .grid-box, .templated_outputs_row1 .grid-box, 
.templated_outputs_row2 .grid-box, .templated_addons_row1 .grid-box, .templated_addons_row2 .grid-box {
  position: absolute;
}

.cartesian .grid-box s {
  color: black;
  font-style: normal;
  text-decoration: none;
  font-size: 8px;
}

.box-item {
  color: black;
  font-style: normal;
  font-size: 8px;
}
